@font-face {
    font-family: domain;
    src: url(./5f242a69b1577e63266b4d72_DomaineDispCondMedium.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

#main {
    background-color: #222;
    overflow-x: hidden;
}

#page1 {
    height: 130vh;
    width: 100vw;
    background-color: #C4BCB3;
    position: relative;
    overflow: hidden;
}

#nav {
    height: 80px;
    width: 100%;
    display: flex;
    padding: 0 30px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #222;
}
#nav img {
    height: 21px;
    width: 30%;
}
#nav h5 {
    font-size: 15px;
    font-weight: 70;
    width: 30%;
}
#nav i {
    width: 30%;
    text-align: right;
}

#elems {
    height: 390px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 60px;
}
#elem1 {
    width: 30%;
    height: 100%;
}
#elem1 #image-div {
    height: 60%;
    width: 100%;
    overflow: hidden;
}
#image-div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s;
}
#image-div:hover img {
    scale: 1.1;
}
#elem2 {
    width: 30%;
    height: 100%;
    padding: 0 30px;
    border-right: 2px solid #8b8989;
    border-left: 2px solid #8b8989;
    text-align: center;
}
#elem3 {
    width: 30%;
    height: 100%;
}
#elem3 #image-div {
    height: 60%;
    width: 100%;
    overflow: hidden;
}

#elem1 h4 {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: canopee;
}

#elem1 h4 span {
    background-color: #B43B12;
    color: #C4BCB3;
    font-weight: 100;
    font-size: 18px;
    padding: 4px;
    border-radius: 5px;
    margin-left: 10px;
}

#elem1 p {
    font-size: 22px;
    font-family: domain;
    font-weight: 50;
    color: #656565;
}

#elem3 h4 {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: canopee;
}

#elem3 h4 span {
    background-color: #B43B12;
    color: #C4BCB3;
    font-weight: 100;
    font-size: 18px;
    padding: 4px;
    border-radius: 5px;
    margin-left: 10px;
}

#elem3 p {
    font-size: 22px;
    font-family: domain;
    font-weight: 50;
    color: #656565;
}

#elem2 h2 {
    font-family: canopee;
    font-size: 70px;
    font-weight: 200;
}
#elem2 h3 {
    font-family: domain;
    font-size: 45px;
    font-weight: 100;
    color: #403c3c;
    margin: 20px 0;
}
#elem2 h6 {
    font-family: domain;
    font-size: 20px;
    font-weight: 100;
    color: #403c3c;
    margin: 20px 0;
}
#elem2 h6 span{
    font-family: domain;
    font-size: 20px;
    font-weight: 100;
    color: #070707;
    margin: 20px 0;
}

#page1 h1 {
    font-size: 540px;
    letter-spacing: -10px;
    font-family: canopee;
    font-weight: 100;
    background-color: #1C1C19;
    color: #C4BCB3;
    line-height: 500px;
    width: 96%;
    margin-left: 2%;
}

#page2 {
    height: 150vh;
    width: 100%;
    background-color: #C4BCB3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 30px;
}

#page2-left {
    height: 100%;
    width: 35%;
    padding-right: 40px;
    border-right: 1px solid #1C1C19;
}
#page2-left h2 {
    font-size: 107px;
    font-family: canopee;
    line-height: 120px;
    font-weight: 100;
}
#page2-left h2 span {
    font-size: 200px;
    font-family: canopee;
    text-align: center;
    line-height: 120px;
    font-weight: 300;
}
#page2-left img {
    height: 50%;
    width: 100%;
    object-fit: cover;
}
#page2-left p {
    font-size: 34px;
    font-family: domain;
    color: #2f2f2f;
    margin-top: 20px;
}
#page2-right {
    height: 100%;
    width: 70%;
    padding: 0 60px;
}
#page2-right img {
    height: 53%;
    width: 100%;
    object-fit: cover;
}
#page2-right h1 {
    font-family: canopee;
    font-size: 100px;
    font-weight: 100;
    letter-spacing: -1px;
}

#page3 {
    height: 50vh;
    background-color: #C4BCB3;
    position: relative;
}
#page3 h1 {
    background-color: #1C1C19;
    color: #C4BCB3;
    width: fit-content;
    font-size: 420px;
    font-family: canopee;
    font-weight: 100;
    letter-spacing: -10px;
    margin-left: 2%;
    padding: 0 20px;
    line-height: 350px;
}
#page3 img {
    position: absolute;
    height: 360px;
    top: 0;
    right: 3%;
}

/* #page4 {
    height: 100vh;
    width: 100vw;
}
#page4-div1 {
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
}
#page4-div1 #card1 {
    width: 50%;
}
#page4-div1 #card2 {
    width: 50%;
}
#page4-div1 #card2 img {
    width: 500px;
}
#page4-div1 img {
    width: 100px;
} */



#page4 {
    height: 50vh;
    background-color: #C4BCB3;
    padding-top: 30px;
}
#page4 #cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#page4 #cards #card1 {
    width: 28%;
    margin-left: 20px;
}
#page4 #cards #card1 h1 {
    font-size: 65px;
    font-weight: 100;
    font-family: domain;
    letter-spacing: -3px;
}
#page4 #cards #card1 h4 {
    font-size: 40px;
    font-weight: 100;
    font-family: domain;
    margin-top: 15px;
    color: #222;
}
#page4 #cards #card1 p {
    font-size: 20px;
    font-family: domain;
    font-weight: 100;
    margin-top: 40px;
    color: #2f2f2f;
}
#page4 #cards #card2 {
    width: 35%;
    border-left: 1.5px solid #1C1C19;
    padding-left: 22px;
    border-right: 1.5px solid #1C1C19;
    padding-right: 80px;
}
#page4 #cards #card2 img {
    width: 420px;
    transition: all ease 0.5s;
}
#card-image {
    overflow: hidden;
}
#card-image:hover img {
    object-fit: cover;
    scale: 1.1;
}
#page4 #cards #card2 h3 {
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: domain;
    letter-spacing: -2px;
    color: #222;
}
#page4 #cards #card2 p {
    font-size: 20px;
    font-family: domain;
    font-weight: 100;
    margin-top: 15px;
    color: #2f2f2f;
}
#page4 #cards #card3 {
    width: 40%;
    padding-left: 40px;
    color: #1C1C19;
}
#page4 #cards #card3 h1 {
    font-size: 120px;
    font-weight: 400;
    font-family: canopee;
    letter-spacing: -6px;
}
#page4 #cards #card3 h1 span {
    font-size: 230px;
    line-height: 180px;
}

#page5 {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #C4BCB3;
}
#page5-left {
    width: 60%;
    height: 100%;
    padding: 80px 60px;
}
#page5-left img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page5-right {
    width: 40%;
    height: 100%;
    padding: 80px 60px;
}
#page5-right p {
    font-size: 30px;
    font-family: domain;
    font-weight: 100;
    color: #2f2f2f;
    margin-bottom: 50px;
}
#page5-right #circle {
    height: 250px;
    width: 100%;
    background-color: #CAC1B6;
    border: 1px solid #2f2f2f;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    overflow: hidden;
}
#circle h1 {
    font-size: 80px;
    font-family: canopee;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-31%);
    transition: all ease 0.6s;
}
#circle img {
    height: 60px;
    transform: translateX(-110%);
    transition: all ease 0.6s;
}
#circle:hover img {
    transform: translateX(75%);
}
#circle:hover h1 {
    transform: translateX(140%);
}

#page6 {
    padding: 30px 0;
    width: 100%;
    background-color: #C4BCB3;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    border-top: 1px solid #1C1C19;
    border-bottom: 1px solid #1C1C19;
}
#page6::-webkit-scrollbar{
    display: none;
}
#page6 h1 {
    font-size: 90px;
    font-family: domain;
    font-weight: 100;
    display: inline-block;
    margin-right: 20px;
    animation-name: scroll;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#page6 h1 span {
    font-family: canopee;
    background-color: #2f2f2f;
    color: #C4BCB3;
    padding: 0 12px;
}

@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-100% - 24px));
    }
}
#page6:hover h1 {
    animation-play-state: paused;
}